
.pageContainer{
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.homePageImg {
  position: relative;
  width: 100%;
  height: 50vh;
}

.salonImg{
    display: block;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    opacity: 1;
    height: 100%;
    object-fit: cover;
}

.mainContent {
  padding: 0 calc(10%);
  margin-top: calc(5%);
}

.middleContent{
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    /* padding: 0 calc(5%); */
    margin-bottom: calc(5%);
}



.womenHaircut {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 70%;
    height: auto;
    right: 5%;
    padding:0;
    margin: 0;
    z-index: 1; 
    border-radius: 5%;
}

.messageContainer{
  position: relative;
  display: block;
  z-index: 2;
  color: black;
  padding: 50px;
  margin: 0;
  text-align: left;
  background-image: linear-gradient(180deg, rgba(255,255,255,1),rgba(39,79,140,0.25));
  background-attachment: scroll;
  background-color: transparent;
  height: auto;
  border-radius: 5%;
}


.messageInside {
    margin:0;
    padding: 0;
}

.welcomeMessage {
    font-size: 0.9rem;
    line-height: 20px;
}

.titleMessage {
    margin:0;
    padding: 0;
    line-height: 35px;
}

.homeHours {
    position: relative;
    border-radius: 5%;
    color: black;
    text-align: left;
    padding: 1.5rem;
    padding-left: 3rem;
    background-image: linear-gradient(180deg, rgba(255,255,255,1),rgba(39,79,140,0.25));
    background-attachment: scroll;
    background-color: transparent;
}

.hours {
    font-size: 2rem;
    margin:0;
    margin-bottom: 1rem;
    font-weight: 700;
}


.homeHours ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.homeHours li {
    color: inherit;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: .25rem;
}


.hoursText{
    font-weight: lighter;
    font-size: 0.9rem;
    margin-top: 5px;
}

hr {
    position: relative;
    margin: 40px 0;
    margin-bottom: 20px;
    height: 2px;
    border-width:0;
    background-color:  #c7c7c7;;
}

.secondLine {
  margin: 40px 0;
}

.locationContainer {
    text-align: left;
    width: 100%;
    display: flex;
    margin: 40px 0;
    height: 40vh;
}

.locationInfo {
  width: 30%;
}

.locationTitle {
    font-size: 1.2rem;
    color: black;
    font-weight: 700;
}

.locationAddress {
    color: black;
    line-height: 22px;
}

.homeMap {
  border: 0;
  width: 70%;
  height: auto;
}

.foot {
    position: relative;
    width: 100%;
    color: rgba(28,28,28,.69);
    width: 100%;
    font-weight: 700;
    padding-top: calc(10%);
    padding-bottom: 30px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1),rgba(39,79,140,0.25));
    background-attachment: scroll;
    background-color: transparent;
}

.footer {
    font-style: italic;
    font-weight: 400;
    padding: 0  30px;
}

.footAddress {
    text-transform: uppercase;
}


  /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 

  .leftSide {
    position: relative;
    width: calc(60%);
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .messageContainer{
    position: absolute;
    width: 40%;
    line-height: 100%;
    padding: calc(6%);
    top: 20%;
    left: 0;
    height: auto;
  }


.titleMessage {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1rem;
}

.rightSide {
  width: calc(40%);
}

.homeHours {
    position: relative;
    width: 100%;
    height: 100%;
}

.footerLine {
    margin-top: 100px;
}

}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {

  .mainContent {
    padding: 0 calc(5%);
  }

  .middleContent{
    margin-top: 2rem;
    display: block;

}

.leftSide {
  position: relative;
  margin: 0;
  width: 100%;
  display: block;
  height: auto;
}

.titleMessage {
  font-size: 1.6rem;
}

.womenHaircut {
  position: absolute;
  top: 80%;
  right: 0;
  display: block;
  width: calc(80%);
  height: auto;
}

.messageContainer {
  position: relative;
  width: 100%;
  width: calc(100% - 30%);
  /* margin-top: calc(60%); */
  display: block;
  padding: 5% 10%;
}

.homeHours li {
  padding: 0;
}

.rightSide {
  margin-top: calc(70%);
}

.homeHours {
  width: 100%;
}

.hours {
  font-size: 1.6rem;
}

.locationContainer {
  display: block;
  height: auto;
}

.locationInfo {
  width: 100%;
}

.homeMap {
  width: 100%;
  height: 30vh;
}
.footer {
    font-size: 0.7rem;
}

} 


/* @media only screen and (min-device-width : 480px) and (max-device-width : 767px) {

  .pageTitle {
    font-size: 2rem;
    font-weight: 600;
    top: 40%;
  }

  .middleContent{
    margin-top: 50px;
    display: block;

  }

  .leftSide {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.womenHaircut {
  right:0;
  height: 100%;

}

 .messageContainer{
    width: 50%;
    padding: 30px;
    top: 10%;
    height: 80%;
 
}

.rightSide {
  margin-top: calc(10%);
}

.homeHours {
  width: 100%;
}

.footer {
    font-size: 12px;
}


}  */



/* iPads (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .pageTitle {
    font-size: 3rem;
    font-weight: 600;
    top: 40%;
  }

  .leftSide {
    position: relative;
    width: calc(65%);
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
  }

  .messageContainer{
    position: absolute;
    width: 40%;
    padding: calc(7%);
    top: 20%;
    left: 0;
 
}

  .womenHaircut {
    right: 5%;
    height: 100%;
    
  }


.welcomeMessage {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 13px;
}

.titleMessage {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.rightSide {
  position: relative;
  width: calc(45%);
  left: 0;
  height: 100%;
}

.homeHours {
    position: relative;
    width: 100%;
    height: 100%;  

}

.hours {
    font-size: 1.5rem;
 
}

.homeHours li {

    font-size: 0.8rem;

}


.hoursText{
    font-size: 0.8rem;
}




} */








