
nav {
    width: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.nav {
    /* width: 100%; */
    z-index: 9998;
    color: black;
    display: flex;
    box-sizing: border-box;
    /* border: 1px solid red; */
    min-height: 20vh;
    max-height: 20vh;
    text-transform: uppercase;
}

.navMainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
}


img{
    border: 0;
}

.salon_title_logo{
    line-height: 0;
    display: flex;
    width: 45%;
    margin-left: calc(5%);
    height: auto;
} 

.logo_div{
    height: auto;
    width: 20%;
}

.logo_img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.salonName {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav a {
    /* width: 10%; */
}

.toggle-button {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.navBar-links {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.nav ul {
    width: 100%;
    padding:0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
} 

.nav a {
    color: inherit;
    text-decoration: none;
    align-items: center;
}

.nav li.active {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}


.nav li:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}




.changeLanguage {
    position: absolute;
    top: 10%;
    left: 90%;
    align-items: center;
    display: flex;
    color: black;
    background: none;
    /* border:1px solid green; */
    /* margin-left: 50px; */
    /* justify-content: space-between; */
}

.englishActive, .spanishActive {
    /* height: 25%; */
    margin: 0;
    background: none;
    /* padding: 0; */
    font-family: inherit;
    border: none;
    /* border: 1px solid red; */
    /* color: white; */
    font-size: 0.7rem;
} 

.spanishDeactive {
    border: none;
    background: none;
    /* background-color: white; */
    color: #999999;
    border-left: 0.5px solid #999999;
}

.englishDeactive {
    background: none;
    border: none;
    color: #999999;
    border-right: 0.5px solid #999999;

}
   


.language:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}



@media (min-width:1025px) { 

.nav {
    /* font-size: 1.1rem; */
    /* padding: 20px 76px; */
}

.navMainContainer {
    /* min-width: 0; */
    /* max-width: 100%; */
}

.salonName {
    font-size: 2rem;
    padding-left: 1rem;
}

.logo_img {
    max-width: 90%;
}

.navBar-links {
    font-size: 1.3rem;
}

}
 

/*
.bookAppointment {
    position: absolute;
    top: 6vh;
    right: 5%;
    height: 100%;
}



 .bookAppointment:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
} */


/* } */

/* Smartphones (portrait and landscape) ----------- */
/* @media screen and (min-width : 300px) and (max-width : 480px) {

    .toggle-button {
        display: flex;
    }

    .changeLanguage {
        position: absolute;
        top:0.5rem;
        right: 1rem;
        gap: 5px;
        right: 1rem;
    }

    .language {
        padding: 5px;
        font-size: 0.7rem;
    }

    .nav {
        padding: 8px 15px;
        width: 100%;
        flex-direction: column;
        font-size: 1rem;
    }

    .logo {
        max-width: 150px;
    }
    
    .navBar-links {
        display: none;
        width: 100%;
        
    }

    .navBar-links ul {
        width: 100%;
        flex-direction: column;

    }

    .navBar-links ul li {
        text-align: center;
        padding: .5rem 1rem;
    }

     .navBar-links.active {
        display: block;
        width: 100%;
         padding: 1rem 0;
        text-align: center;
        
    }
} */


/* @media screen and (min-width : 480px) and (max-width : 829px) {

    .toggle-button {
        margin-top: 5px;
        display: flex;
    }


    .changeLanguage {
        position: absolute;
        top:0.5rem;
        right: 1rem;
        gap: 5px;
        right: 1rem;
    }

    .language {
        padding: 5px;
        font-size: 0.8rem;
    }


    .nav {
        padding: 10px 30px;
        width: 100%;
        flex-direction: column;
        font-size: 16px;
    }

    .logo {
        max-width: 180px;
    }


    .navBar-links {
        display: none;
        width: 100%;    
    } 

    .navBar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navBar-links ul li {
        text-align: center;
        padding: .5rem 1rem;
    }


     .navBar-links.active {
        display: block;
        width: 100%;
         padding: 1rem 0;
        text-align: center;
        
    }

}  */


/* iPads (portrait and landscape) ----------- */
/* @media screen and (min-width : 830px) and (max-width : 1024px) {
nav {
    position: fixed;
    top:0;
}

.nav {
    font-size: 1rem;
    padding: 20px 30px;
}

.navMainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 100%;

}

.logo {
    max-width: 150px;
}

.language {
    font-size: 0.8rem;
    height: 30%;
} */

/* .bookAppointment {
    position: absolute;
    top: 5vh;
    right: 2%;
    height: 100%;
}



 .bookAppointment:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
} */



